@system1:registry=https://pkgs.dev.azure.com/system1group/_packaging/system1group/npm/registry/ 
//pkgs.dev.azure.com/system1group/_packaging/system1group/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//pkgs.dev.azure.com/system1group/_packaging/system1group/npm/registry/:_password=eDZiaXMyd283NHVyYXNyamMzbHR0N3Y0d2ZuZnpneTc0NWp1d3dtdTJ1cGlpNzJvNGduYQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//pkgs.dev.azure.com/system1group/_packaging/system1group/npm/registry/:email=not-used@example.com

registry=https://registry.npmjs.org
                        
always-auth=true