@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  @font-face {
    font-family: graphik-black;
    src: url('/fonts/Graphik-Black-Web.ttf');
  }
  
  @font-face {
    font-family: graphik-reg;
    src: url('/fonts/Graphik-Regular-Web.ttf');
  }
  
  @font-face {
    font-family: graphik-med;
    src: url('/fonts/Graphik-Medium.ttf');
  }
  
  @font-face {
    font-family: graphik-bold;
    src: url('/fonts/Graphik-Bold-Web.ttf');
  }
  
  @font-face {
    font-family: graphik-sup;
    src: url('/fonts/Graphik-Super-Web.ttf');
  }
  
  @font-face {
    font-family: graphik-semibold;
    src: url('/fonts/Graphik-Semibold-Web.ttf');
  }
  
  @font-face {
    font-family: graphik-light;
    src: url('/fonts/Graphik-Light.ttf');
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: graphik-med, Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(237, 50, 147, 0.9);
  border-radius: 14px;
  transition: ease-in-out 0.2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(237, 50, 147);
  transition: ease-in-out 0.2s;
}
